
 asgiref==3.8.1
 certifi==2025.6.15
 charset-normalizer==3.4.2
 django==5.2.3
 idna==3.10
 jmespath==1.0.1
 pillow==11.2.1
 requests==2.32.4
 sqlparse==0.5.3
 stripe==12.2.0
 typing-extensions==4.14.0
 tzdata==2025.2
 urllib3==2.5.0
 psycopg2-binary==2.9.10 #need this for postgres if used in the setting as daTABASE
 dj-database-url==3.0.0 #need this for postgres if used in the setting as daTABASE
 pymysql #need this for mysql if used in the setting as daTABASE
 
 